h1 {
    text-align: center;
}

#main {
    height: 80%;
    width: 1000px;
    border: 1px solid black;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#searchbar {
    height: 10%;
    width: 70%;
    border: 1px solid red;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#search {
    height: 40%;
    width: 75%
}

#submit {
    height: 50%;
    width: 15%;
}

#table {
    height: 80%;
    width: 90%;
    border: 1px solid blue;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-spacing: 0;
}

tr {
    width: 100%;
}

th, td {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 30px;
    padding-right: 110px;
    border: 1px solid black;
    
    font-size: 20px;
}